# Blacklist everything by default
*

# Whitelist files and directories
!.editorconfig
!.gitattributes
!.gitignore
!.nvmrc
!.travis.yml
!CHANGELOG.md
!CONTRIBUTING.md
!README.md
!package.json

!/doc
!/doc/**/*

!/shell
!/shell/**/*

!/test
!/test/**/*

!/tool
!/tool/**/*

# Blacklist files and directories
.DS_Store
